body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.displayedWord {
    text-align: center;
    
    margin-bottom: 50px;
    font-family: 'Tourney', cursive;
  }

  .btn-container {
      display: flex;
      justify-content: center;
  }

  .pass-btn {
      padding-left: 10px;
  }